.header{
    width: 100%;
    //max-width: 1500px;
    height: 75px;
    display:flex;
    justify-content:center;
    box-shadow: $regular-shadow;
    font-family: $font-family;
    position: fixed;
    overflow: hidden;
    z-index: 2;
    top: 0;
    background-color: $color-white;
    
    &__logo{
        vertical-align: center;
    }

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1500px;
        padding: 20px;
        
        @media screen and (max-width: 767px){
            width: 100%;
        }
    }
    @media screen and (max-width: 767px) {
        &__nav{
            display: none;
        }
        &__login{
            display: none;
        }
    }

    
    
}//fin header





.burger {
    top: 40px;
    right: 55px;
    border-radius: 19px;
    z-index: 2;
    
}    

.container-burger {
    display: none;
    cursor: pointer;
    
    @media screen and (max-width: 767px) {
        & {
            display: inline-block;
        }
    }
}

.bar1, .bar2, .bar3 {
width: 30px;
height: 3px;
background-color: #000000;
margin: 6px 0;
transition: 0.4s;
border-radius: 5px;
}

/* Rotate first bar */
.change .bar1 {
-webkit-transform: rotate(-45deg) translate(-6px, 6px);
transform: rotate(-45deg) translate(-6px, 6px);
background-color: black;
}

/* Fade out the second bar */
.change .bar2 {
opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
-webkit-transform: rotate(45deg) translate(-8px, -8px);
transform: rotate(45deg) translate(-7px,-7px);
background-color: black;
}

.overlay {
height: 0%;
width: 100%;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: white;
overflow-y: hidden;
transition: 0.5s;
opacity: 1;
overflow-y: hidden;
}

.overlay-content {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    a {
        padding: 8px;
        position: relative;
        text-decoration: none;
        font-size: 26px;
        font-weight: bolder;
        color: black;
        display: block;
        transition: 0.3s;
        margin: 0 auto;
        margin-top: 5px;
        margin-bottom: 5px;
        }
    hr{
        width: 50%;
        margin-top: $vertical-spacing-2;
        margin-bottom: $vertical-spacing-2;
        height: 0.1px;
        opacity: 0.5;
    }

    
}
 

.overlay-content a:hover {
opacity: .5;
}

.mostrar {
height: 100%;
}

