.menu-principal{
    display: flex;
    justify-content: space-between;
    
    a{
        text-decoration: none;
        padding: 20px;
        color:$color-dark;
        font-weight: $font-weight-bold;
        &:hover{
            background-color: $color-yellow-4;
            border-radius: 5rem;
        }
    }
}


   
.blog-nav{
    padding: .9rem 0;
    margin-top:75px;
    background-color: $color-dark;
    width: 100%;
    //position: fixed;
    z-index:1;
    &__container{
        display:flex;
        flex-wrap: wrap;
        align-items: center; //centrar respecto al eje vertical
        justify-content: space-between; //centrar respecto al eje horizontal
        padding: 0;
        margin-left: auto;
        @media screen and (max-width: 767px){
            //height: 50px;
            justify-content: space-between;
            
        }   
    }
    
    
    &__logo{
        padding-right: 2rem;
        margin-right: 3rem;
        border-right: 1px solid white;
        @media screen and (max-width: 767px){
          margin-right: 0rem;            
            
        }
        
    }
    &__menu-blog{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: auto;
        @media screen and (max-width: 767px){
            display: none;
                             
        }
        a{
            text-decoration: none;
            color:$color-white;
            font-weight: $font-weight-normal;
            font-size: 16px;
            &:hover{
                color:$color-primary;

            }
        }

        &__item{
            font-family: $font-family;
            font-weight: $font-weight-normal;
            font-size: 16px;
            margin-right: 1em;
            
        }
        
    }
    &__search{
        margin-left: 6rem;
        right: 0;
        margin-left: auto;
        input{
            border: 1px solid #E4E4E4;
            box-sizing: border-box;
            border-radius: 30.8px;
            position: static;
            position: static;
            width: 255px;
            height: 29px;
            left: 0px;
            top: 0px;
            padding-left: 20px;
            
            @media screen and (max-width: 767px){
                display: none;          
                   
            }
        }
        .lupa{
            display: none;
            
            @media screen and (max-width: 767px){
                display: flex;           
                   
               }
        }
    }
}



.menu-blog-responsive{
    display: none;
    @media screen and (max-width: 767px){
        display: flex;
        a{
            text-decoration: none;
            color: $color-white;
        }
      }
}