.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap:18;
    max-width: 330px;
    left: 0px;
    background-color: $color-white;
    border-radius:8px;    
    font-size: 19px;
    box-shadow: $regular-shadow;
    @media screen and (max-width: 767px){
        max-width: 90%;
    }
    img{
        width: 60px;
    }
    &--center {
        align-items: center;
        text-align: center;
        font-size: 16px;
        width: 200px;
        max-height: 250px;
        @media screen and (max-width: 767px){
            flex-direction: column;
            align-self: center;
            width: 50%;
            padding: 1rem;
        }
    }
}


.blog-card--horizontal-destacada {
  display: grid;
  grid-template-columns: 50% 1fr;
  position: relative;
  height: 24rem;
  overflow: hidden;
  border-radius: .6rem;
  box-shadow: $regular-shadow;
  color:black;
  @include desktop {
    height: 20rem;
  }
  @include tablet {
    height: 16rem;
  }
  @include phone {
    height: 13rem;
  }
  
  &__img {
    //border: 2px solid blue;
    left: 0px;
    position: relative;
    height: 100%;
    z-index: 1;
    aspect-ratio: 600/300;

    

    img {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

  }

  &__container-text {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 50%;
    //border: 2px solid red;
    background-color: white;
    clip-path: ellipse(100% 140% at 100% 50%);
    z-index: 1;
    //arriba derecha abajo izquierda
    padding:2rem 4rem 2rem 6rem;
    @include desktop{
      padding: 3rem 1rem 1rem 4rem;
    }
    @include tablet {
      padding: 3rem 1rem 1rem 3rem;
    }
    @include phone {
      padding: 3rem 2rem 2rem 2rem;
    }
    &__text {
      
      
      h1{
        margin-top: 0;
        @include desktop {
          font-size: 1.5rem;
        }
        @include tablet {
          font-size: 1.2rem;
        }
        @include phone {
          font-size: 1rem;
          
        }
      }

      p {
        font-size: 17px;
        font-weight: 500;
        line-height: 25px;
        @include desktop {
          display: none;
        }
      }

      small {
        color: #7F7F7F;
      }
    }

  }

}


 /* .blog-card{
    display: grid;
    grid-template-rows: 45% 1fr;
    overflow: hidden;
    position: relative;
    box-shadow: $regular-shadow;
    border-radius: 8px;
    height: 26rem;
    color:black;
    &__img {
      top:0px;
      position: relative;
      max-width: 100%;
      aspect-ratio: 1.6;
      
      img{
        width: 100%;
        
      }
      
    }
    &__container-text {
      position: absolute;
      //overflow: hidden;
      bottom: 0px;
      height: 60%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: #fff;
      clip-path: ellipse(90% 70% at 50% 75%);
      //border:1px solid;
      
      &__text {
        padding-left: 2rem;
        padding-top: 0rem;
        padding-right: 2rem;
    
        p {
          font-size: 24px;
          font-weight: 500;
          line-height: 30px;
        }
    
        small {
          color: #7F7F7F;
        }
      }
    
    }
 } */

 .blog-card--horizontal{
   display: grid;
   grid-template-columns: 50% 1fr;
   position: relative;
   overflow: hidden;
   border-radius: .6rem;
   box-shadow: $regular-shadow;
   color:black;
   text-decoration: none;
   //border: 1px solid;
   &__img{
     //border: 2px solid blue;
     left: 0px;
     position: relative;
     height: 100%;
     width: auto;
     overflow:hidden;
     
     img{
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      }
      
      &::before {
        content: "";
        position: absolute;
        left: initial;
        right: 0px;
        top: 0px;
        bottom: 0px;
        display: block;
        clip-path: ellipse(90% 60% at 130% 50%);
        background:white;
        z-index: 1;
        height: 100%;
        width: 30px;
      }
     }
    
   
   &__container-text{
     position: relative;
      flex: 1 0 60%;
      background-color: #fff;
      padding: 1rem;
      bottom: 0;
      overflow: hidden;
      z-index: 1;
      height: auto;
      display: inline-flex;
      flex-direction: column;
      //border: 1px dashed red;
      &__text{
        
        
        h2 {
          font-size: 17px;
          font-weight: 500;
          line-height: 25px;
          @include desktop {
            font-size: 1.2rem;
          }
          @include tablet {
            font-size: .8rem;
          }
        }
        
        small {
          color: #7F7F7F;
        }
      }

   }

 }
 
 
.blog-card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  box-shadow: $larger-shadow;
  border-radius: 8px;
  color:black;
  text-decoration: none;
  &__img {
    position: relative;
    overflow: hidden;
    aspect-ratio:600/300;

    img {
      width: 100%;
      height: auto;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: -1px;
      left: 0px;
      right: 0px;
      display: block;
      clip-path: ellipse(60% 91% at 50% 127%);
      background: #fff;
      height: 40px;
      width: 100%;
    }
  }

  &__container-text {
    position: relative;
    bottom: 0px;
    height: auto;
    //width: 100%;
    height: auto;
    display: inline-flex;
    flex-direction: column;
    background-color: #fff;
    padding: 2rem;
    overflow: hidden;
    @include tablet {
      padding: 1.5rem;
    }

    @include phone {
      padding: 1.5rem;
    }
    &__text {
     
      h2 {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 30px;
        margin-top:0;
        margin-bottom: 1.5rem;
        @include desktop{
          font-size: 20px;
        }
        @include tablet{
          font-size: 18px;
        }
        @include phone{
          font-size: 15px;
        }
      }

      small {
        color: #7F7F7F;
      }
    }

  }

  

  
}


.card-2{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  box-shadow: $larger-shadow;
  border-radius: 8px;
  color:black;
  text-decoration: none;
  
  @include tablet{
    flex-direction: row;
    aspect-ratio: 2.5;  
  }
  @include phone{
    height: 100%;
  }
  &__img{
    @include tablet{
      width: 100%;
      
    }
    img{
      width: 100%;
      height: 100%;
      object-fit:cover;
    }
  }

  &__contenido{
    overflow: hidden;
    padding: 1rem;
    @include tablet{
      width: 100%;
      
    }

    &-titulo{
      @include phone{
        h1{
          font-size: 1rem;
        }
      }
    }
  }
  
}